<div>
    {{snippets}}
    <p> {{description}} </p>
    <ul>
        <li> <strong> Version: </strong> {{version}}</li>
        <li> <a href="/doc/view/pages/09-Builds?token={{token}}"><strong> Build Number: </strong> {{build}}</a></li>
        <li> <a href="/doc/view/pages/09-Builds?token={{token}}"><strong> Last Migration: </strong> {{migration}} <span
                    class=" hide {{flag}}">Warning</span></a></li>
    </ul>
    <p>For further information about this service, consult <a href="/doc/view?token={{token}}">the complete
            documentation here</a>.
</div>