<div>
    {{snippets}}
    <p> {{description}} </p>
    <ul>
        <li> <strong> Version: </strong> {{version}}</li>
        <li> <a href="/doc/view/pages/09-Builds?token={{token}}"><strong> {{lang.build}}: </strong> {{build}}</a></li>
        <li> <a href="/doc/view/pages/09-Builds?token={{token}}"><strong> {{lang.migration}}: </strong> {{migration}} <span
                    class=" hide {{flag}}">{{lang.warning}}</span></a></li>
    </ul>
    <p>For further information about this service, consult <a href="{{url.home}}">the complete documentation here</a>.
</div>