<div class="content">
    <p> 
        {% if lang.description %}
            {{lang.description}} 
        {% else %}
            {{description}} 
        {% endif %}
    </p>

    <ul>
        <li> <a href="{{url.page}}#{{version}}"><strong> {{lang.main.version}}: </strong> {{version}}</a> </li>
        <li> <strong> {{lang.main.environment}}: </strong> {{environment}}</li>

        <li> <a href="{{url.page}}/Builds#build_number"><strong> {{lang.main.build_number}}: </strong> {{build}} <span
                    class=" hide {{flagBuild}}">{{lang.main.warning}}</span></a></li>
        <li> <a href="{{url.page}}/Builds#migration_number"><strong> {{lang.main.migration_number}}: </strong> {{mActive}} <span
                    class=" hide {{flagMigCur}}">{{lang.main.warning}}</span> </a> ({{lang.main.current}}) </li>

        <li> <a href="{{url.page}}/Builds#migration_build"><strong> {{lang.main.migration_number}}: </strong> {{migration}}
                <span class=" hide {{flagMigAva}}">{{lang.main.warning}}</span></a> ({{lang.main.last_available}}) </li>
    </ul>

    <p>{{lang.main.quick_guide}} <a href="{{url.page}}/FAQs"><strong> {{lang.main.faq}}. </strong> </a></p>

    <section class="roadmap">
        <h3> {{lang.main.roadmap}} </h3>
        {% for item in roadmap %}
        <div class="alert alert-{{item.type}}" role="alert" id="{{item.version}}">
            <h3> {{item.version}}: {{item.release}} {{item.environment}} </h3>
            <ol class="list-group">
                {% for feature in item.feature %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <span class="badge bg-primary rounded-pill"> {{feature.type}} </span>
                    <div class="ms-2 me-auto">{{feature.title}}</div>
                    <a href="https://jira.aircraft-sita.aero/browse/{{feature.task}}">
                        <span class="badge bg-primary rounded-pill">{{feature.task}} </span>
                    </a>
                </li>
                {% endfor %}
            </ol>
        </div>
        {% endfor %}
    </section>

</div>