<div class="content">
    <p> {{description}} </p>

    <ul>
        <li> <a href="/doc/view#{{version}}"><strong> Version: </strong> {{version}}</a> </li>
        <li> <strong> Environment: </strong> {{environment}}</li>

        <li> <a href="/doc/view/pages/09-Builds#build_number"><strong> Build Number: </strong> {{build}} <span
                    class=" hide {{flagBuild}}">Warning</span></a></li>
        <li> <a href="/doc/view/pages/09-Builds#migration_number"><strong> Migration Number: </strong> {{mActive}} <span
                    class=" hide {{flagMigCur}}">Warning</span> </a> (CURRENT) </li>

        <li> <a href="/doc/view/pages/09-Builds#migration_build"><strong> Migration Number: </strong> {{migration}}
                <span class=" hide {{flagMigAva}}">Warning</span></a> (LAST AVAILABLE) </li>
    </ul>
    <p>If you need to consult a quick guide to solving and understanding problems, it is recommended to review the topic
        known as <a href="/doc/view/pages/11-FAQs?token={{token}}"><strong> FAQs. </strong> </a></p>
    <section class="roadmap">
        <h3> Roadmap </h3>
        {% for item in roadmap %}
        <div class="alert alert-{{item.type}}" role="alert" id="{{item.version}}">
            <h3> {{item.version}}: {{item.release}} {{item.environment}} </h3>
            <ol class="list-group">
                {% for feature in item.feature %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <span class="badge bg-primary rounded-pill"> {{feature.type}} </span>
                    <div class="ms-2 me-auto">{{feature.title}}</div>
                    <a href="https://jira.aircraft-sita.aero/browse/{{feature.task}}">
                        <span class="badge bg-primary rounded-pill">{{feature.task}} </span>
                    </a>
                </li>
                {% endfor %}
            </ol>
        </div>
        {% endfor %}
    </section>

</div>